<!--This is the footer. Include anything you'd like here, like a link to an <a class="internal-link" href="/about">About</a> page.-->
<script src="https://giscus.app/client.js"
        data-repo="MarsAuthority/redblue"
        data-repo-id="R_kgDOIXk6hw"
        data-category="Announcements"
        data-category-id="DIC_kwDOIXk6h84CSXUL"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light"
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>